html {
    --lumo-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    --lumo-line-height-m: 1.8;
    --lumo-line-height-s: 1.5;
    --lumo-line-height-xs: 1.3;
    --lumo-border-radius: 0.5em;
    --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
    --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
    --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
    --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
    --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
    --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
    --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
    --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
    --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
    --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
    --lumo-primary-text-color: rgba(29, 36, 187, 0.92);
    --lumo-primary-color-50pct: rgba(50, 37, 121, 0.5);
    --lumo-primary-color-10pct: rgba(50, 37, 121, 0.1);
    --lumo-error-text-color: rgb(91, 16, 32);
    --lumo-error-color-50pct: rgba(91, 16, 32, 0.5);
    --lumo-error-color-10pct: rgba(91, 16, 32, 0.1);
    --lumo-success-text-color: rgb(84, 222, 110);
    --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
    --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
    --lumo-shade: hsl(42, 33%, 13%);
    --lumo-primary-color: #322579;
    --lumo-error-color: #5b1020;
    --lumo-success-color: #54DE6E;
    --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
    --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
    --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
    --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
    --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
    --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
    --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
    --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
    --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
    --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
    --lumo-tint: #f4eee1;
    --lumo-header-text-color: rgba(108, 104, 96, 0.83);
    --lumo-body-text-color: rgba(108, 104, 96, 0.93);
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--lumo-primary-color);
    text-color: var(--lumo-primary-color);
}