html {
    --lumo-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    --lumo-border-radius: 0.5em;
    --lumo-error-text-color: rgba(237, 39, 29, 0.85);
    --lumo-error-color-50pct: rgba(237, 39, 29, 0.5);
    --lumo-error-color-10pct: rgba(237, 39, 29, 0.1);
    --lumo-error-color: hsla(3, 85%, 52%, 0.85);
    }

a[highlight] {
    font-weight: bold;
    text-decoration: none;
    text-decoration-color: var(--lumo-primary-color);
    text-color: var(--lumo-primary-color);
}
.card{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    text-align: center;
    margin-right: 60px;


}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(137, 140, 148, 0.15);
    cursor: pointer;
}
.number{
    text-align: center;
    align-items: center;
    margin-left: 30px;

}
.div{
}
.booking{
    background-color: rgb(128, 128, 128,0.01);
}
.drawer{
    background-color: rgba(128, 155, 155, 0.31);
}
.leaf{
    width: 50px;
    height: 50px;
    border-radius: 0 100%;
    background-image: linear-gradient(to right, rgb(48, 206, 29), rgba(0, 128, 0, 0.42));

}
.checked-in{
    color: orange;
}
.checked-out{
    color:green;
}
